.footer-body.kitty{
	background-image: url('images/dashies/kitty_hoodie.png');
}

.footer-body.rd{
	background-image: url('images/dashies/rd_hoodie.png');
}

.footer-body.hibana{
	background-image: url('images/dashies/hibana.png');
}

.footer-body.caveira{
	background-image: url('images/dashies/caveira.png');
}

.footer-body.caveira_clean{
	background-image: url('images/dashies/caveira_clean.png');
}

.footer-body.caveira_hoodie{
	background-image: url('images/dashies/caveira_hoodie.png');
}

.footer-body.caveira_hoodie_clean{
	background-image: url('images/dashies/caveira_hoodie_clean.png');
}

.footer-body.dokkaebi{
	background-image: url('images/dashies/dokkaebi.png');
}

.footer-body.ela{
	background-image: url('images/dashies/ela.png');
}

.footer-body.fuze{
	background-image: url('images/dashies/fuze.png');
}
